:local(.header) {

  height: 15vh;
  font-family: 'Rubik', sans-serif;
  font-size: 3vw;
  
  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .logo {
    width: 25vw;
    margin-bottom: 1.8vh;
    margin-right: 2vw;
  }

  span {
    padding-left: 4vw;
  }

}
h2 {
  padding-bottom: 0px;
}
hr {
  background-color: #C2CAD0;
  border: none;
  // height: 5vh;
  width: 100vw;
}