:local(.home) {
  height: 60vh;
  text-align: center;
  width: 100vw;

  
  .summary {
    // background-color: rgb(220, 248, 175);
    margin-left: auto;
    margin-right: auto;
    font-size: 13pt;
    padding: 1vh 5vw;
    text-align: left;
  }

  p {
    font-family: 'Rubik', sans-serif;
  }
  
  .container {
    padding-top: 30px;
    // width: 100%;
    // margin: 0 auto;
  }
  .dropzone {
    justify-content: center;
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

  img {
    display: flex;
    max-width: 20%;
    max-height: 20%;
    margin-left: 5vh;
  }

  .aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
} 
    @media (min-width: 768px) {
      :local(.home) {
        .container {
          .summary {
            order: 2;
          }    
          display: inline-flex;
          flex-direction: row;
        
        }
        img {
          display: flex;
          max-width: 60%;
          max-height: 60%;
        }
      }
    }
