
:local(.postPet) {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  font-size: 1em;  

  h4 {
    margin: .2vh;
    font-weight: 900;
  }

  textarea {
    width: 200px;
    height: 150px;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 1.2vh;
  }

  p {
    font-size: 1em;
    font-weight: 900;
  }

  select {
    border: 1px solid black;
    margin-top: .5vh;
    margin-bottom: .6vh;
    border: 1px solid black;
    font-size: 1em;
  }

  label {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    font-size: 1em;
  }

  form {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 50vw;
  }

  .upload {
    width: 200px;
  }

  input {
    font-size: 1em;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    width: 5em;
    margin-bottom: .6vh;
  }
}

@media (min-width: 768px) {
  :local(.PostPet) {
    
    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 50vw;
    }
  }
}